#acf-fields-list {
  list-style-type: none;
  padding: 0;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

#acf-fields-list li {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 25px;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 15px;
  width: 100%;
}